*{
    padding: 0;
    margin: 0;
    font-family: "Akaya Telivigala", monospace, sans-serif;
    font-size: 22px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #252634;
    padding: 5px 0;
}
h1{
    color: #e3e3e3;
    font-size: 22px;
    padding: 8px;
}
.container{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #252634;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.drum-pad{
    flex-direction: column;
    justify-content: center;
    border: 2px solid teal;
    margin: 4px;
    height: 80px;
    width: 28%;
    display: inline-flex;
    max-width: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.drum-pad span{
    color: teal;
}